.header {
	text-align:center;
}

#leaflet-map {
	/*display:none;*/
	
	display: block;
	margin: 0 auto;
	height: 300px;
	width:600px;
	border: 2px solid black;
}
#bottom-control {
	display:block;
	margin: 0 auto;
	width:50%;
	height:50px;
}

#log-book {
	position:relative;
	width: 90%;
	display:inline-block;
	margin: 0 auto;
	/*min-height: 1px;
	overflow:hidden;*/
}

.log-entry {
	/*position:absolute;*/
	margin: 5px auto;
	border: 1px solid grey;
	width:90%;
	height:100px;
	display:inline-block;
}

.form-wrapper {
	display:none;
}