* {
	box-sizing:border-box;
}
.body{
	background-color: #FFFFCC;
}
.map-section {
	display:absolute;
	width:100%;
	height:50%;
}
	.banner {
		width:80%;
		margin:0px auto;
	}
		.title-wrapper{
			width:50%;
			display:inline-block;	
		}
			.header {
				text-align:center;
			}
		.image-wrapper{
			width:25%;
			display:inline-block;
		}
			.diver {
				float:right;
			}
			.dive-flag{
				float:left;
			}

.zoom-container {
	display:inline-block;
	margin: 5px 10%;
	height: 20px;
	width:80%;
	text-align:center;
}
	#leaflet-map {
		display: block;
		margin: 0 auto;
		height: 30em;
		width: 80em;
		border: 2px solid black;
		box-shadow:10px 10px 5px #888888;
	}
	.bottom-control {
		display:block;
		margin: 20px auto;
		height:40px;
	}
	.new-form-button {
		display:block;
		margin:0px auto;
		height:40px;
		width:300px;
		color:darkblue;
		background-color: lightblue;
		text-align:center;
		font-size:24px;
		font-weight: bolder;
		border-radius: 5px;
		border:1px solid darkblue;
	}
	.form-wrapper {
		display:none;
		width: 80%;
		margin:20px auto;
		overflow:hidden;
	}

	.form-instructions {
		font-size:24px;
		color:blue;
		font-weight:bolder;
		display:block;
	}

	.margin5px {
		margin:5px;
	}

.dive-stats {
	position:relative;
	width:100%;
	height:70px;
	background-color:white;
	border:1px solid grey;
}

.dive-stats-header {
	text-align:center;
	margin:5px auto;
	color: lightgrey;
}

.stats-dive-time {
	display:inline-block;
	width:49%;
	height:40px;
	/*border:1px dashed red*/;
}

.stats-air-consump {
	display:inline-block;
	width:49%;
	height:40px;
	/*border:1px dashed red;*/
	float:right;
}

.stats-text {
	font-size: 20px;
	color:grey;
	font-weight:bolder;
	display:inline-block;
	margin:0px 5px;
}

.stats-val {
	font-size: 32px;
	color:darkgrey;
	font-weight:bolder;
	display:inline-block;
	margin:0px 10px;
}

#log-book {
	position:relative;
	width: 90%;
	/*height:100px;*/
	display:block;
	/*border:1px solid grey;*/
	margin:5%;
}
.log-entry {
	margin: 5px auto;
	border: 1px solid grey;
	width:90%;
	height:100px;
	display:inline-block;
}

